<!-- HTML-код модального окна -->
<div id="afterSendingModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">E-System</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h5>Запрос на получение выписки отправлен. Отследить статус выполнения запроса можно в личном кабинете пользователя</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary btn-block btn-lg" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
  </div>
</div>