<!-- HTML-код модального окна -->
<div id="errorModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">E-System</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="alert-danger" role="alert">
                        <strong>Возникла ошибка при получении данных от сервера. Попробуйте выполнить поиск еще раз.</strong>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary btn-block btn-lg" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
  </div>
</div>