<div id="title2" class="anchor"></div>
<h2>Юридические лица, созданные по законодательству Украины, сведения о которых внесены в ЕГРЮЛ (последние записи)</h2>
  <div class="table-responsive">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>№ п/п</th>
                  <th>Дата присвоения ОГРН</th>
                  <th>ОГРН</th>
                  <th>ИНН</th>
                  <th>КПП</th>
                  <th>Наименование</th>
                  <th>Адрес регистрации</th>
                  <th>Дата формирования сведений из ЕГРЮЛ </th>
                  <th>Дата прекращения деятельности </th>
                </tr>
          </thead>
          <tbody>
              {% for item in uk %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.СвЮЛ.ДатаОГРН }}</td>
                    <td>{{ item.СвЮЛ.ОГРН }}</td>
                    <td>{{ item.СвЮЛ.ИНН }}</td>
                    <td>{{ item.СвЮЛ.КПП }}</td>
                    <td>{% if item.СвЮЛ.СвНаимЮЛ.НаимЮЛСокр %}
                        {{ item.СвЮЛ.СвНаимЮЛ.НаимЮЛСокр }}
                        {% else %}
                        {{ item.СвЮЛ.СвНаимЮЛ.НаимЮЛПолн}}
                        {% endif %}
                    </td>
                    <td>{{ item.СвЮЛ.СвАдресЮЛ.АдресРФ.Индекс }}, {{ item.СвЮЛ.СвАдресЮЛ.АдресРФ.Регион }},
                        {% if item.СвЮЛ.СвАдресЮЛ.АдресРФ.Район %}
                        {{ item.СвЮЛ.СвАдресЮЛ.АдресРФ.Район }}
                        {% endif %}
                        {% if item.СвЮЛ.СвАдресЮЛ.АдресРФ.Город %}
                        {{ item.СвЮЛ.СвАдресЮЛ.АдресРФ.Город }},
                        {% endif %}
                        {% if item.СвЮЛ.СвАдресЮЛ.АдресРФ.Улица %}
                        {{ item.СвЮЛ.СвАдресЮЛ.АдресРФ.Улица }},
                        {% endif %}
                        {% if item.СвЮЛ.СвАдресЮЛ.АдресРФ.Улица %}
                        {{ item.СвЮЛ.СвАдресЮЛ.АдресРФ.Улица }},
                        {% endif %}
                        {% if item.СвЮЛ.СвАдресЮЛ.АдресРФ.Дом %}
                        {{ item.СвЮЛ.СвАдресЮЛ.АдресРФ.Дом }},
                        {% endif %}
                        {% if item.СвЮЛ.СвАдресЮЛ.АдресРФ.Корпус %}
                        {{ item.СвЮЛ.СвАдресЮЛ.АдресРФ.Корпус }},
                        {% endif %}
                        {% if item.СвЮЛ.СвАдресЮЛ.АдресРФ.Кварт %}
                        {{ item.СвЮЛ.СвАдресЮЛ.АдресРФ.Кварт }},
                        {% endif %}
                    </td>
                    <td>{{ item.СвЮЛ.ДатаВып }}</td>
                    <td>{{ item.СвЮЛ.СвПрекрЮЛ.ДатаПрекрЮЛ }}</td>
                </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>

